.square {
    background: var(--card-background-color);
    color: var(--primary-text-color);
    border: 1px solid #999;
    float: left;
    font-size: 35px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 50px;
    width: 50px;
    transition: background-color 0.25s ease-in-out;
}

.O {
    color: cornflowerblue;
}

.X {
    color: crimson;
}