.toggle-container {
    display: flex;
    flex-direction: row-reverse;
}

.toggle {
    visibility: hidden;
    width: 0;
    height: 0;
}

.toggle + label {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--primary-text-color);
    margin-right: -1em;
}

.toggle + label::before {
    content: "";
    height: 1em;
    width: 2em;
    border-radius: 1em;
    background-color: var(--toggle-bg);
    transition: background-color 250ms ease-in-out;
}

.toggle + label::after {
    content: "";
    height: 0.8em;
    width: 0.8em;
    border-radius: 1em;
    background-color: var(--toggle-fg);
    position: relative;
    right: 1.8em;
    transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.toggle:checked + label::after {
    transform: translateX(100%);
}